.jumbotron {
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-block-end: -65px;
    margin-left: -35px;
    margin-right: -32px;
}

.btn {
    color: white;
    background-color: violet
}

footer {
    padding: 10px 10px 0 10px;
    background-color: pink;
    margin-bottom: 0px;
}

.card-mate {
    flex: 1 325px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-block-end: 30px;
}

.btn-compra {
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
    border-radius: 0px;
}

.footer-adress-icon {
    padding-right: 15px;
}

.header {
    width: 100%;
    background-image: url(../imagenes/banner5.jpg);
    background-attachment: fixed;
    margin-right: -20px;
}

.nav-pills {
    background-color: rgb(245, 168, 252);
}

.nav-link {
    color: rgb(14, 14, 1);
}

.tab-content {
    padding-top: 10px;
}

.carousel {
    margin-right: 0px;
}

.btn-primary {
    margin-left: 10px;
    margin-bottom: 10px;
}