$pink:#e6c7f0;
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.btn {
    color: white;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $pink;
}

.card-mate {
    flex: 1 325px;
    @include margenes(10px, 0px);
}

.btn-compra {
    width: 100%;
    left: 0;
    bottom: 0;
    @include margenes(10px, 0px);
}

.footer-adress-icon {
    padding-right: 15px;
}

.header {
    width: 100%;
    background-image: url(../imagenes/banner5.jpg);
    background-attachment: fixed;
    @include margenes(10px, 0px);
}

.nav-pills {
    background-color: rgb(245, 168, 252);
}

.nav-link {
    color: rgb(14, 14, 1);
}

.tab-content {
    padding-top: 10px;
}

.carousel {
    @include margenes(0px, 10px);
}

.btn-primary {
    @include margenes(10px, 10px);
}

.img-fluid {
    @include margenes(40px, 0px);
}