@yellow: #edf50a;
@red: #fa0702;
@green: #37bd54;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom:@bottom;
}

.btn {
    color: white;
    background-color: @green; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color:@yellow;}
  
  .card-mate {
    flex: 1 325px;
   .margenes(10px, 0px);
    background-color: @red; }
  
  .btn-compra {
    width: 100%;
    left: 0;
    bottom: 0;
    .margenes(10px, 0px);
 }
  
  .footer-adress-icon {
    padding-right: 15px; }
  
  .header {
    width: 100%;
    background-image: url(../imagenes/banner5.jpg);
    background-attachment: fixed;
    .margenes(10px, 0px);
 }
  
  .nav-pills {
    background-color: #f5a8fc; }
  
  .nav-link {
    color: #0e0e01; }
  
  .tab-content {
    padding-top: 10px; }
  
  .carousel {
    .margenes(0px, 10px);;
 }
  
  .btn-primary {
    .margenes(10px, 10px); 
}
  
  .img-fluid {
    margin-top: 40px;
    .margenes(0px, 0px);
 }
  