.btn {
  color: white;
  background-color: #37bd54;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #edf50a;
}
.card-mate {
  flex: 1 325px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #fa0702;
}
.btn-compra {
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-adress-icon {
  padding-right: 15px;
}
.header {
  width: 100%;
  background-image: url(../imagenes/banner5.jpg);
  background-attachment: fixed;
  margin-top: 10px;
  margin-bottom: 0px;
}
.nav-pills {
  background-color: #f5a8fc;
}
.nav-link {
  color: #0e0e01;
}
.tab-content {
  padding-top: 10px;
}
.carousel {
  margin-top: 0px;
  margin-bottom: 10px;
}
.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-fluid {
  margin-top: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}
